<tr>
  <td>
    {{unitItem.order}}
  </td>
  <td>
    {{unitItemType}}
  </td>
  <td>
    {{unitItem.title}}
  </td>
  <td>
    {{#link-to 'unit-item.edit' unitItem.id}}
      {{fa-icon "pencil"}}
    {{/link-to}}
  </td>
  <td>
    <div {{action "deleteItem" unitItem.id}} class='admin-delete-link'>
      {{fa-icon "times"}}
    </div>
  </td>
</tr>
