<div class='course-form'>
  <form {{action 'saveCourse' on='submit'}}>
    <div class='course-form-input'>
      {{input
        type='text'
        pattern='.{3,120}'
        required=true
        placeholder='Title'
        value=title}}
    </div>

    <div class='course-form-input'>
      {{textarea
        required=true
        placeholder='Summary'
        value=summary}}
    </div>
    <div class='course-units'>
      {{#if course.id}}
        {{#link-to 'units.new' course.id}}
          <h3>New Unit</h3>
        {{/link-to}}
        <table class='admin-table'>
          {{#each units as |unit|}}
            <tr>
              <td>
                {{unit.order}}
              </td>
              <td>
                {{unit.title}}
              </td>
              <td>
                {{#link-to 'unit.edit' unit.id}}
                  {{fa-icon 'pencil'}}
                {{/link-to}}
              </td>
              <td>
                <div {{action "deleteUnit" unit.id}} class='admin-delete-link'>
                  {{fa-icon "times"}}
                </div>
              </td>
            </tr>
          {{/each}}
        </table>
      {{/if}}
    </div>
    <div class='course-form-input'>
      <button type='submit'>Save</button>
    </div>
  </form>
</div>
