<nav class='main-nav'>
  <div class='menu-header'>
    <div class='dismiss-menu'>
      <button {{action 'dismissMenu'}}>{{fa-icon 'times'}}</button>
    </div>
  </div>
  <ul>
    <li>
      {{component 'nav-link' text='videos' path='videos' icon='video-camera'}}
    </li>
    <li>
      {{component 'nav-link' text='courses' path='courses' icon='graduation-cap'}}
    </li>
    <li>
      {{component 'nav-link' text='about' path='about' icon='info-circle'}}
    </li>
    {{#if superuser}}
      <li>
        {{component 'nav-link' text='admin' path='admin' icon='cog'}}
      </li>
    {{/if}}
    {{#if currentUser}}
      <li>
        <a href="#" {{action invalidateSession preventDefault=true}}>
          <div class='nav-link'>
            <div class='nav-link-icon'>
              {{fa-icon 'sign-out'}}
            </div>
            <div class='nav-link-text'>
              logout
            </div>
          </div>
        </a>
      </li>
    {{else}}
      <li>
        {{component 'nav-link' text='login' path='login' icon='sign-in'}}
      </li>
    {{/if}}
  </ul>
</nav>
