<div class='mobile-menu__body'>
  <div class='mobile-header__text'>
    User Avatar
  </div>
  <ul class='mobile-menu__nav'>
    <button {{action toggleMenu}}>{{fa-icon 'times'}}</button>
    <li class='mobile-menu__nav-divider'></li>
    <li class='mobile-menu__nav-item'>
      {{#mm.link-to 'courses' class='mobile-menu__nav-link'}}
        {{fa-icon 'graduation-cap'}} courses
      {{/mm.link-to}}
    </li>
    {{#if currentUser}}
      <li class='mobile-menu__nav-item'>
        {{#mm.link-to 'dashboard' class='mobile-menu__nav-link'}}
          {{fa-icon 'tachometer'}} dashboard
        {{/mm.link-to}}
      </li>
      {{#if superuser}}
        <li class='mobile-menu__nav-item'>
          {{#mm.link-to 'admin' class='mobile-menu__nav-link'}}
            {{fa-icon 'cog'}} admin
          {{/mm.link-to}}
        </li>
      {{/if}}
      <li class='mobile-menu__nav-item'>
        <a href='#' {{action invalidateSession preventDefault=true}}>
          {{fa-icon 'sign-out'}} logout
        </a>
      </li>
    {{else}}
      <li class='mobile-menu__nav-item'>
        {{#mm.link-to 'login' class='mobile-menu__nav-link'}}
          {{fa-icon 'sign-in'}} login
        {{/mm.link-to}}
      </li>
    {{/if}}
  </ul>
</div>
