<div class='unit-bar-item'>
  {{#if isCompleted}}
    <div class='completed'>
      {{#if isCurrent}}
        <div class='current'>
          {{fa-icon 'circle'}}
        </div>
      {{else}}
        {{fa-icon 'circle'}}
      {{/if}}
    </div>
  {{else}}
    {{#if isCurrent}}
      <div class='current'>
        {{fa-icon 'circle'}}
      </div>
    {{else}}
      {{fa-icon 'circle-o'}}
    {{/if}}
  {{/if}}
</div>
