<div class='unit-bar-item'>
  {{#if showTitle}}
    <div class='tooltip box'>
      {{model.title}}
    </div>
  {{/if}}
  {{#if isCompleted}}
    <div class='completed'>
      {{#if isCurrent}}
        <div class='current'>
          {{fa-icon 'check-circle'}}
        </div>
      {{else}}
        {{#link-to 'unit-item.index' model.id}}
          {{fa-icon 'check-circle'}}
        {{/link-to}}
      {{/if}}
    </div>
  {{else}}
    {{#if isCurrent}}
      <div class='current'>
        {{fa-icon 'circle'}}
      </div>
    {{else}}
      {{fa-icon 'circle-o'}}
    {{/if}}
  {{/if}}
</div>
