{{#liquid-bind model use='toLeft' as |cmodel|}}
  <div class='unit-item'>
    <div class='unit-item-parent-titles'>
      {{cmodel.unit.course.title}} -> {{cmodel.unit.title}}
    </div>
    <div class='unit-item-title'>
      {{cmodel.title}}
    </div>
    <div class='unit-item-content'>
      {{cmodel.type}}
      {{cmodel.content}}
    </div>
  </div>
{{/liquid-bind}}
