{{!-- The following component displays Ember's default welcome message. --}}
{{!-- Feel free to remove this! --}}
{{#each flashMessages.queue as |flash|}}
  {{flash-message flash=flash}}
{{/each}}
{{#if loggedIn}}
    Your email is: <p>{{currentUser.email}}!</p>
    <button {{action 'invalidateSession'}}>Logout</button>
{{else}}
    <a href='/'>Login</a>
    <a href='/register'>Register</a>
{{/if}}

{{outlet}}
