<form {{action "register" on="submit"}}>
  {{input type="email" value=identification value=identification key-up="checkEmail" placeholder="enter email"}}
  {{input type="password" value=password placeholder="enter password"}}
  {{input type="password" value=passwordConfirm placeholder="confirm password"}}
  <button type="submit" disabled={{inputInvalid}}>Register</button>
</form>

{{#if passwordsDiff}}
  <p>Passwords do not match.</p>
{{/if}}

{{#if passwordInvalid}}
  <p>Password is too short.</p>
{{/if}}

{{#if emailUnique}}
  <p>This email already has a registered account.</p>
{{/if}}

{{#if emailInvalid}}
  <p>Not a valid email.</p>
{{/if}}
