<div class='login-window'>
  <form {{action "register" on="submit"}}>
    <div class='fields'>
      <div class='field'>
        <label for='identification'>Email</label>
        {{input type="email" value=identification value=identification key-up="checkEmail" placeholder="email@example.com"}}
      </div>
      <div class='field'>
        <label for='password'>Password</label>
        {{input type="password" value=password placeholder="password"}}
      </div>
      <div class='field'>
        <label for='passwordConfirmation'>Password Confirm</label>
        {{input type="password" value=passwordConfirm placeholder="password"}}
      </div>
      <div class='actions'>
        <div class='submit'>
          <button type='submit' disabled={{inputInvalid}}>Register</button>
        </div>
      </div>
    </div>
  </form>
</div>

{{#if passwordsDiff}}
  <p>Passwords do not match.</p>
{{/if}}

{{#if passwordInvalid}}
  <p>Password is too short.</p>
{{/if}}

{{#if emailUnique}}
  <p>This email already has a registered account.</p>
{{/if}}

{{#if emailInvalid}}
  <p>Not a valid email.</p>
{{/if}}
